.content{
    height: 300px;
    overflow: auto;
 }
 
.contentfull{
    height: auto;
    overflow: auto;
 }
 
.panel{
	bottom: 0;
}

.table{
	text-align: center;
}

.font{
	font:"Helvetica Neue";
}

.width_75{
	width:75%;
}

.background{
	background-color:#FFF
}

.error {
    color: red;
}

.media-drop {
    position: relative;
}

.media-drop > button.delete {
    display: none;
    position: absolute;
    right: 8px;
    top: 4px;
}

.media-drop-placeholder {
    display: table-cell;
    background-color: #e1e1e8;
    border: 3px solid #e1e1e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}

.media-drop.dragover > .media-drop-placeholder {
    border-color: orange;
}

.media-drop img {
    border: 3px solid transparent;
}

.media-drop.dragover img {
    border-color: orange;
}

.media-drop-placeholder.busyloading {
    background-image: url(../img/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.media-drop-placeholder-title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #818177;
}

.media-drop-placeholder-or {
    display: block;
    font-weight: normal;
    font-size: 15px;
    color: #818177;
}

.media-drop-placeholder-uploadbutton {
    display: block;
    position: relative;
}

/* Fake stylable upload button. */
.media-drop-placeholder-uploadbutton > button {
    position: relative;
    width: 130px;
}

/* Real upload button, centered */
.media-drop-placeholder-uploadbutton > input {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    width: 130px;
    max-width: 130px;
    overflow: hidden;
}

.photo-placeholder img {
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
}


